<mat-checkbox class="example-margin" color="warn" [(ngModel)]="isShowing15" (change)="onChange($event)">Show only last 15 posts</mat-checkbox>
<mat-checkbox class="example-margin" color="warn" [(ngModel)]="isShowingActivePosts" (change)="onChange($event)">Show only active posts</mat-checkbox>
<mat-grid-list cols="4" role="list">
  <mat-grid-tile *ngFor="let blog of blogs" role="listitem">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{blog.title}}</mat-card-title>
        <mat-card-subtitle>{{blog.author}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{blog.content | slice:0:150}}
        </p>
      </mat-card-content>
      <mat-card-content>
        {{blog.keywords}}
      </mat-card-content>
      <mat-card-content>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip>
            {{blog.status}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editBlog(blog);">Edit</button>
        <button mat-button (click)="deleteBlog(blog.id)">Delete</button>
      </mat-card-actions>
      <mat-card-footer>
        Date of publishing: {{blog.createdAtDate|date:short}}
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>