<form #form="ngForm" (ngSubmit)="onSubmit()" class="add-blog-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Title of blog post" name="title" [(ngModel)]="editedPost.title">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Author of blog post" name="author"[(ngModel)]="editedPost.author" >
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of  publishing" name="date"[(ngModel)]="editedPost.createdAtDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <mat-form-field class="full-width">
          <textarea matInput placeholder="Input content" name="content" [(ngModel)]="editedPost.content"></textarea>
        </mat-form-field>
      <mat-form-field class="full-width">
          <input matInput placeholder="Keywords of blog post" name="keywords"[(ngModel)]="editedPost.keywords">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Status of blog post: active/inactive" value="active" name="status"[(ngModel)]="editedPost.status">
          </mat-form-field>
          <mat-form-field class="full-width">
              <input matInput placeholder="Image URL of blog post" name="url" [(ngModel)]="editedPost.imageUrl">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary"
            [disabled]="form.invalid || form.pristine">Publish</button>
  </form>


